.layout-ui {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 140px 7%;
  width: 84%;
}

.layout-ui-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: HelveticaNeue;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.86;
  color: white;
}

.menu-item:current {
  color: #ffc001;
}

.logo {
  width: 70px;
  height: 38px;
  object-fit: contain;
  margin-bottom: 15px;
  margin: 25px 0px 15px 0px;
  position: relative;
  left: 5px;

}

.logo > img {
  width: 50px;
}

.contact-us-button {
  background-color: none;
  border: 2px solid white;
  color: white;
  width: 139px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.contact-us-button > span {
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: bold;
}
